body {
  text-align: center;
  background-color: #00011f;
  font-family: 'Space Grotesk', sans-serif;
}

.content {
  max-width: 900px;
  margin: auto;
  background: #ade3db;
  padding: 10px;
}

.container {
  border: 3.5px solid black;
}

.navbar {
  border: 3px solid black;
  position: relative;
  background-color: #b66eb9;
  overflow: hidden;
}

.navbar a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.container ul {
  list-style-type: none;
}

.container li {
  display: inline-block;
}

.container label {
  border: 2px solid #b66eb9;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.container label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #0008ff;
  border-style: dashed;
  border-radius: 15px;
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #b66eb9;
  z-index: -1;
}

.hidden input {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.button {
  margin: 30px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.formy {
  margin: 10px 200px 10px 200px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [label] auto [input] 1fr;
}

.formy input {
  grid-column: input;
  align-self: center;
}

.formy label {
  grid-column: label;
  align-self: center;
}

.contact{
  margin: 10px 100px 10px 100px; 
  text-align: left;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [label] auto [input] 1fr;
}

.contact p {
  grid-column: label;
  align-self: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.pedidos {
  margin: 5px 1em 5px 1em; 
  text-align: left;
  display: grid;
  grid-gap: 10px;
}

.inventario {
  margin: 5px 15em 5px 15em; 
  text-align: left;
  display: grid;
  grid-gap: 10px;
}

table {
	color:rgb(58, 58, 58);
	font-size:12px;
  font-weight: bold;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
  overflow-x:auto;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
} 

table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #b66eb9;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#b66eb9), to(#b66eb9));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  color: #000000;
}

table th:first-child {
	text-align: left;
	padding-left:20px;
}

table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}

table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}

table tr {
	text-align: center;
	padding-left:20px;
}

table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}

table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table tr:last-child td {
	border-bottom:0;
}

table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}

table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}

table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}